<!DOCTYPE html>
<html>
  <head>
    <title>OpenShift Router Metrics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="float:right" >
      <%= form_tag("/logout", method:"post") do %>
        Logged in as <%= session[:username] %> 
        <%= submit_tag 'Logout' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
